<%- include("partials/header") -%>

    <section>
        <div class="resourceContainer">
            <% for(let i=0; i<books.length;i++){ %>
                <div class="resource-item">
                    <a href=<%="/posts/" + books[i].book_route %> target="_blank">
                        <img src=<%=books[i].book_image_src %> alt=""><br>
                        <%= books[i].book_title %>
                    </a>
                </div>
            <% } %>
        </div>
    </section>

    <%- include("partials/footer") -%>