<%- include("partials/header") -%>
        <section>
            <div class="resourceContainer">
                
                <div class="resource-item">
                    <a href=<%=bookData.book_folderlink %>
                        target="_blank"> <img src=<%=bookData.book_image_src %> alt=""><br>
                        <%= bookData.book_title %>
                    </a>
                </div>
                <div class="resource-item-list">
                    <ul>
                        <!-- paste here the link for drive folder -->
                        <span>
                            <a href=<%=bookData.book_folderlink %> target="_blank" >
                                Click here
                            </a>
                            for Books and References
                        </span>
                    </ul>
                    <br>
                    <!-- <ul>
                    
                        <span>Youtube Learning Resources</span>
                        <li>If there exists any good resources, kindly let us know we will update them here</li>
                    </ul> -->

                    <!-- Reference links -->
                    <ul>
                        <span>Youtube Learning Resources</span>
                        <% if(bookReferences.length!=0){ %>
                            <% for(let i=0; i<bookReferences.length;i++){ %>
                                <li><a target="_blank" href=<%=bookReferences[i].book_reference_link %>><%=
                                            bookReferences[i].book_reference_name %></a>
                                    <i class="fa fa-youtube-play" style="color:red" aria-hidden="true">
                                    </i>
                                </li>
                            <% } %>
                        <% }else { %>
                        <!-- <% %> -->
                            <li>If there exists any good resources, kindly let us know we will update them here</li>
                        <% } %>
                    </ul>
                </div>

            </div>
            <div>
                <span>Uploaded By: <%= bookData.admin_name %></span>
            </div>
        </section>
    </div>

    <%- include("partials/footer") -%>